.header {
  width: 100%;
  background-color: var(--bodyColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zFixed);
  transition: 0.4s;
}

.nav {
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle,
  &__close {
    color: var(--titleColor);
  }

  &__logo {
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: 0.3s;

    &:hover {
      color: var(--firstColor);
    }

    &-icon {
      font-size: 1.15rem;
      color: var(--firstColor);
    }
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: var(--containerColor);
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: 0.3s;
      z-index: var(--zFixed);
    }
  }

  &__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__link {
    color: var(--titleColor);
    font-weight: var(--fontMedium);
    transition: 0.3s;

    &:hover {
      color: var(--firstColor);
    }
  }
}

// show menu
.show-menu {
  right: 0;
}

// change background header
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

// active link
.active-link {
  position: relative;
  color: var(--firstColor);

  &::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--firstColor);
  }
}
