@use 'sass:math';

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//</Подключаем шрифты>=======================================================================================

$fontFamily: 'Nunito', sans-serif;

$bigFontSize: 2rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$smallerFontSize: 0.75rem;

$fontMedium: 500;
$fontSemiBold: 600;

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================

$headerHeight: 3.5rem; // 56px

$hue: 152;
$firstColor: hsl($hue, 24%, 32%);
$firstColorAlt: hsl($hue, 24%, 28%);
$firstColorLight: hsl($hue, 24%, 66%);
$firstColorLighten: hsl($hue, 24%, 92%);
$titleColor: hsl($hue, 4%, 15%);
$textColor: hsl($hue, 4%, 35%);
$textColorLight: hsl($hue, 4%, 55%);
$bodyColor: hsl($hue, 0%, 100%);
$containerColor: #fff;

$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

$zTooltip: 10;
$zFixed: 100;

@media screen and (min-width: 968px) {
  $bigFontSize: 3.5rem;
  $h1FontSize: 2.25rem;
  $h2FontSize: 1.5rem;
  $h3FontSize: 1.25rem;
  $normalFontSize: 1rem;
  $smallFontSize: 0.875rem;
  $smallerFontSize: 0.813rem;
}

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $fontFamily;
  font-size: $normalFontSize;
}

body {
  margin: $headerHeight 0 0 0;
  background-color: $bodyColor;
  color: $textColor;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: $titleColor;
  font-weight: $fontSemiBold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: $h2FontSize;
  margin-bottom: $mb-2;
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.main {
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.grid {
  display: grid;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'header';
// @import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
