@use 'sass:math';

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//</Подключаем шрифты>=======================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
:root {
  --headerHeight: 3.5rem; // 56px

  --hue: 152;
  --firstColor: hsl(var(--hue), 24%, 32%);
  --firstColorAlt: hsl(var(--hue), 24%, 28%);
  --firstColorLight: hsl(var(--hue), 24%, 66%);
  --firstColorLighten: hsl(var(--hue), 24%, 92%);
  --titleColor: hsl(var(--hue), 4%, 15%);
  --textColor: hsl(var(--hue), 4%, 35%);
  --textColorLight: hsl(var(--hue), 4%, 55%);
  --bodyColor: hsl(var(--hue), 0%, 100%);
  --containerColor: #fff;

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --zTooltip: 10;
  --zFixed: 100;

  @media screen and (min-width: 968px) {
    --bigFontSize: 3.5rem;
    --h1FontSize: 2.25rem;
    --h2FontSize: 1.5rem;
    --h3FontSize: 1.25rem;
    --normalFontSize: 1rem;
    --smallFontSize: 0.875rem;
    --smallerFontSize: 0.813rem;
  }

  --fontFamily: 'Nunito', sans-serif;

  --bigFontSize: 2rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallerFontSize: 0.75rem;

  --fontMedium: 500;
  --fontSemiBold: 600;
}
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--fontFamily);
  font-size: var(--normalFontSize);
}

body {
  margin: var(--headerHeight) 0 0 0;
  background-color: var(--bodyColor);
  color: var(--textColor);
  transition: 0.4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--titleColor);
  font-weight: var(--fontSemiBold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background-color: var(--firstColor);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: var(--h2FontSize);
  font-weight: var(--fontMedium);
  transition: 0.3s;

  &:hover {
    background-color: var(--firstColorAlt);
  }

  &__icon {
    transition: 0.3s;
  }

  &:hover &__icon {
    transform: translateX(0.25rem);
  }

  &--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &--link {
    color: var(--firstColor);
    font-weight: var(--fontMedium);

    &:hover .button__icon {
      transform: translateX(0.25rem);
    }
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.section {
  padding: 5.5rem 0 1rem;

  &__title,
  &__title-center {
    font-size: var(--h2FontSize);
    margin-bottom: var(--mb-2);
    line-height: 140%;

    &-center {
      text-align: center;
    }
  }
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'header';
@import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
body.dark-theme {
  --firstColorDark: hsl(var(--hue), 8%, 20%);
  --titleColor: hsl(var(--hue), 4%, 95%);
  --textColor: hsl(var(--hue), 4%, 75%);
  --bodyColor: hsl(var(--hue), 8%, 12%);
  --containerColor: hsl(var(--hue), 8%, 16%);
}

// button dark-light
.change-theme {
  color: var(--titleColor);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.dark-theme .steps__bg,
.dark-theme .questions {
  background-color: var(--firstColorDark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--containerColor);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, 0.3);
}

// home
.home {
  padding: 3.5rem 0 2rem;

  &__container {
    position: relative;
    row-gap: 2rem;
  }

  &__img {
    width: 200px;
    justify-content: center;
  }

  &__title {
    font-size: var(--bigFontSize);
    line-height: 140%;
    margin-bottom: var(--mb-1);
  }

  &__description {
    margin-bottom: var(--mb-2-5);
  }

  &__social {
    position: absolute;
    top: 15rem;
    right: 1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;

    &-follow {
      font-weight: var(--fontMedium);
      font-size: var(--smallerFontSize);
      color: var(--firstColor);
      position: relative;
      transform: rotate(90deg);
    }

    &-links {
      display: inline-flex;
      flex-direction: column;
      row-gap: 0.25rem;
    }

    &-link {
      font-size: 1rem;
      color: var(--firstColor);
      transition: 0.3s;

      &:hover {
        transform: translateX(0.25rem);
      }
    }
  }
}

// about
.about {
  &__container {
    row-gap: 2rem;
  }

  &__img {
    width: 280px;
    justify-self: center;
  }

  &__title {
    margin-bottom: var(--mb-1);
  }

  &__description {
    margin-bottom: var(--mb-2);

    a {
      color: var(--textColor);
      text-decoration: underline;

      &:hover {
        color: var(--textColorLight);
      }
    }
  }

  &__details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: var(--mb-2-5);

    &-description {
      display: inline-flex;
      column-gap: 0.5rem;
      font-size: var(--smallFontSize);
    }

    &-icon {
      font-size: 1rem;
      color: var(--firstColor);
      margin-top: 0.15rem;
    }
  }
}

// steps
.steps {
  &__bg {
    background-color: var(--firstColor);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
  }

  &__container {
    gap: 2rem;
    padding-top: 1rem;
  }

  &__title {
    color: #fff;
  }

  &__card {
    background-color: var(--containerColor);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;

    &-number {
      display: inline-block;
      background-color: var(--firstColorAlt);
      color: #fff;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      font-size: var(--h2FontSize);
      margin-bottom: var(--mb-1-5);
      transition: 0.3s;
    }

    &-title {
      font-size: var(--h3FontSize);
      margin-bottom: var(--mb-0-5);
    }

    &-description {
      font-size: var(--smallFontSize);
    }

    &:hover &-number {
      transform: translateY(-0.25rem);
    }
  }
}

// product
.product {
  &__description {
    text-align: center;
  }

  &__container {
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
  }

  &__card {
    display: grid;
    position: relative;

    &:hover .product__img {
      transform: translateY(-0.5rem);
    }
  }

  &__img {
    position: relative;
    width: 150px;
    justify-self: center;
    margin-bottom: var(--mb-1);
    transition: 0.3s;
  }

  &__title,
  &__price {
    font-size: var(--smallFontSize);
    font-weight: var(--fontSemiBold);
    color: var(--titleColor);
  }

  &__title {
    margin-bottom: 0.25rem;
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--firstColor);
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.35rem;
    font-size: 1.15rem;

    &:hover {
      background-color: var(--firstColorAlt);
    }
  }

  &__circle {
    width: 100px;
    height: 100px;
    background-color: var(--firstColorLight);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
  }
}

// questions
.questions {
  background-color: var(--firstColorLight);

  &__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
  }

  &__group {
    display: grid;
    row-gap: 1.5rem;
  }

  &__item {
    background-color: var(--containerColor);
    border-radius: 0.25rem;

    &:hover {
      box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, 0.15);
    }

    &-title {
      font-size: var(--smallFontSize);
      font-weight: var(--fontMedium);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
  }

  &__icon {
    font-size: 1.25rem;
    color: var(--titleColor);
  }

  &__content {
    overflow: hidden;
    height: 0;
  }

  &__description {
    font-size: var(--smallerFontSize);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }

  &__item,
  &__header,
  &__item-title,
  &__icon,
  &__description,
  &__content {
    transition: 0.3s;
  }
}

// accordion
.accordion-open {
  & .questions__header,
  & .questions__content {
    background-color: var(--firstColor);
  }

  & .questions__item-title,
  & .questions__description,
  & .questions__icon {
    color: #fff;
  }

  & .questions__icon {
    transform: rotate(45deg);
  }
}

// cpntact
.contact {
  &__container {
    row-gap: 3.5rem;
  }

  &__data {
    display: grid;
    row-gap: 2rem;
  }

  &__subtitle {
    font-size: var(--normalFontSize);
    font-weight: var(--fontMedium);
    color: var(--textColor);
    margin-bottom: var(--mb-0-5);
  }

  &__description {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--titleColor);
    font-weight: var(--fontMedium);

    a {
      color: var(--titleColor);

      &:hover {
        color: var(--textColorLight);
      }
    }
  }

  &__icon {
    font-size: 1.25rem;
  }

  &__inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
  }

  &__content {
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--textColorLight);
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    border: none;
    outline: none;
    z-index: 1;

    &:focus + .contact__label {
      top: -0.75rem;
      left: 0;
      font-size: var(--smallerFontSize);
      z-index: 10;
    }

    &:not(:placeholder-shown).contact__input:not(:focus) + .contact__label {
      top: -0.75rem;
      font-size: var(--smallerFontSize);
      z-index: 10;
    }
  }

  &__label {
    position: absolute;
    top: 0.75rem;
    width: 100%;
    font-size: var(--smallFontSize);
    color: var(--textColorLight);
    transition: 0.3s;
  }

  &__area {
    height: 7rem;

    textarea {
      resize: none;
    }
  }
}

// scroll up
.scrollup {
  position: fixed;
  background-color: var(--firstColor);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--zTooltip);
  opacity: 0.8;
  transition: 0.4s;

  &:hover {
    background-color: var(--firstColorAlt);
    opacity: 1;
  }

  &__icon {
    font-size: 1rem;
    color: #fff;
  }
}

// show scroll up
.show-scroll {
  bottom: 3rem;
}

// scroll bar
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(var(--hue), 4%, 53%);

  &-thumb {
    background: hsl(var(--hue), 4%, 29%);
    border-radius: 0.5rem;
  }
}

// breakpoints
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home {
    &__img {
      width: 180px;
    }
    &__title {
      font-size: var(--h1FontSize);
    }
    &__social {
      top: 5rem;
    }
  }

  .steps {
    &__bg {
      padding: 2rem 1rem;
    }
    &__card {
      padding: 1.5rem;
    }
  }

  .product__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 375px) {
  .home {
    &__social {
      top: 5rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .steps {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .product {
    &__description {
      padding: 0 4rem;
    }
    &__container {
      grid-template-columns: repeat(2, 170px);
      justify-content: center;
      column-gap: 5rem;
    }
  }

  .footer__subscribe {
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--headerHeight) + 1.5rem);
    column-gap: 3rem;

    &__toggle,
    &__close {
      display: none;
    }
    &__menu {
      margin-left: auto;
    }
    &__list {
      flex-direction: row;
      column-gap: 3rem;
    }
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;

    &__container {
      align-items: center;
    }
    &__img {
      width: 280px;
      order: 1;
    }
    &__social {
      top: 30%;
    }
  }

  .questions__container {
    align-items: flex-start;
  }

  .footer {
    &__container {
      column-gap: 3rem;
    }
    &__subscribe {
      width: initial;
    }
  }
}

// for large devices
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;

    &__title,
    &__title-center {
      font-size: var(--h1FontSize);
    }
  }

  .home {
    padding: 13rem 0 5rem;

    &__img {
      width: 350px;
    }
    &__description {
      padding-right: 7rem;
    }
  }

  .about__img {
    width: 380px;
  }

  .steps {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
    &__bg {
      padding: 3.5rem 2.5rem;
    }
    &__card-title {
      font-size: var(--normalFontSize);
    }
  }

  .product {
    &__description {
      padding: 0 16rem;
    }
    &__container {
      padding: 4rem 0;
      grid-template-columns: repeat(3, 185px);
      gap: 4rem 6rem;
    }
    &__img {
      width: 160px;
    }
    &__circle {
      width: 110px;
      height: 110px;
    }
    &__title,
    &__price {
      font-size: var(--normalFontSize);
    }
  }

  .questions {
    &__container {
      padding: 1rem 0 4rem;
    }
    &__title {
      text-align: initial;
    }
    &__group {
      row-gap: 2rem;
    }
    &__header {
      padding: 1rem;
    }
    &__description {
      padding: 0 3.5rem 2.25rem 2.75rem;
    }
  }

  .footer {
    &__logo {
      font-size: var(--h3FontSize);
    }
    &__container {
      grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    }
    &__copy {
      margin: 7rem 0 2rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    &__social {
      right: -3rem;
      row-gap: 4.5rem;

      &-follow {
        font-size: var(--smallFontSize);

        &::after {
          width: 1.5rem;
          right: -60%;
        }
      }
      &-link {
        font-size: 1.15rem;
      }
    }
  }

  .about__container {
    column-gap: 7rem;
  }

  .scrollup {
    right: 3rem;
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
