@use 'sass:math';

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//</Подключаем шрифты>=======================================================================================

$fontFamily: 'Nunito', sans-serif;

$bigFontSize: 2rem;
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;
$smallerFontSize: 0.75rem;

$fontMedium: 500;
$fontSemiBold: 600;

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================

$headerHeight: 3.5rem; // 56px

$hue: 152;
$firstColor: hsl($hue, 24%, 32%);
$firstColorAlt: hsl($hue, 24%, 28%);
$firstColorLight: hsl($hue, 24%, 66%);
$firstColorLighten: hsl($hue, 24%, 92%);
$titleColor: hsl($hue, 4%, 15%);
$textColor: hsl($hue, 4%, 35%);
$textColorLight: hsl($hue, 4%, 55%);
$bodyColor: hsl($hue, 0%, 100%);
$containerColor: #fff;

$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

$zTooltip: 10;
$zFixed: 100;

@media screen and (min-width: 968px) {
  $bigFontSize: 3.5rem;
  $h1FontSize: 2.25rem;
  $h2FontSize: 1.5rem;
  $h3FontSize: 1.25rem;
  $normalFontSize: 1rem;
  $smallFontSize: 0.875rem;
  $smallerFontSize: 0.813rem;
}

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $fontFamily;
  font-size: $normalFontSize;
}

body {
  margin: $headerHeight 0 0 0;
  background-color: $bodyColor;
  color: $textColor;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: $titleColor;
  font-weight: $fontSemiBold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background-color: $firstColor;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: $h2FontSize;
  font-weight: $fontMedium;
  transition: 0.3s;

  &:hover {
    background-color: $firstColorAlt;
  }
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: $firstColor;
  font-weight: $fontMedium;
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: $h2FontSize;
  margin-bottom: $mb-2;
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.main {
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.grid {
  display: grid;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'header';
// @import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  width: 200px;
  justify-content: center;
}

.home__title {
  font-size: $bigFontSize;
  line-height: 140%;
  margin-bottom: $mb-1;
}

.home__description {
  margin-bottom: $mb-2-5;
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: $fontMedium;
  font-size: $smallerFontSize;
  color: $firstColor;
  position: relative;
  transform: rotate(90deg);

  &::after {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 2px;
    background-color: $firstColor;
    right: -18%;
    top: 50%;
  }
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: $firstColor;
  transition: 0.3s;

  &:hover {
    transform: translateX(0.25rem);
  }
}

.about__container {
  row-gap: 2rem;
}

.about__img {
  width: 280px;
  justify-self: center;
}

.about__title {
  margin-bottom: $mb-1;
}

.about__description {
  margin-bottom: $mb-2;

  a {
    color: $textColor;
    text-decoration: underline;

    &:hover {
      color: $textColorLight;
    }
  }
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: $mb-2-5;
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: $smallFontSize;
}

.about__details-icon {
  font-size: 1rem;
  color: $firstColor;
  margin-top: 0.15rem;
}

.steps__bg {
  background-color: $firstColor;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title {
  color: #fff;
}

.steps__card {
  background-color: $containerColor;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: $firstColorAlt;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: $h2FontSize;
  margin-bottom: $mb-1-5;
  transition: 0.3s;
}

.steps__card-title {
  font-size: $h3FontSize;
  margin-bottom: $mb-0-5;
}

.steps__card-description {
  font-size: $smallFontSize;
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
}

.product__description {
  text-align: center;
}

.product__container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: grid;
  position: relative;
}

.product__img {
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: $mb-0-75;
  transition: 0.3s;
}

.product__title,
.product__price {
  font-size: $smallFontSize;
  font-weight: $fontSemiBold;
  color: $titleColor;
}

.product__title {
  margin-bottom: 0.25rem;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $firstColor;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;

  &:hover {
    background-color: $firstColorAlt;
  }
}

.product__circle {
  width: 90px;
  height: 90px;
  background-color: $firstColorLight;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
}

.product__card:hover .product__img {
  transform: translateY(-0.5rem);
}

.questions {
  background-color: $firstColorLight;
}

.questions__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group {
  display: grid;
  row-gap: 1.5rem;
}

.questions__item {
  background-color: $containerColor;
  border-radius: 0.25rem;

  &:hover {
    box-shadow: 0 2px 8px hsla($hue, 4%, 15%, 0.15);
  }
}

.questions__item-title {
  font-size: $smallFontSize;
  font-weight: $fontMedium;
}

.questions__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.questions__icon {
  font-size: 1.25rem;
  color: $titleColor;
}

.questions__content {
  overflow: hidden;
  height: 0;
}

.questions__description {
  font-size: $smallerFontSize;
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
  transition: 0.3s;
}

.accordion-open .questions__header,
.accordion-open .questions__content {
  background-color: $firstColor;
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
  color: #fff;
}

.accordion-open .questions__icon {
  transform: rotate(45deg);
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
